@model Wypozyczalnia.Models.Samochod

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Samochod</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Marka)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marka)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Rok)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Rok)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LimitKilometrow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LimitKilometrow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opony)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opony)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AC)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AC)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrRejestracyjny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrRejestracyjny)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Zdjecie)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Zdjecie)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoczatekUmowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoczatekUmowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KoniecUmowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KoniecUmowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
