@model Wypozyczalnia.Models.Wypozyczenie

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Wypozyczenie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SamochodId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SamochodId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PoczatekUmowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PoczatekUmowy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.KoniecUmowy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KoniecUmowy)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
