@model IEnumerable<Wypozyczalnia.Models.Samochod>

@{
    ViewBag.Title = "Moje wypozyczenia";
}


    <div class="rent-whole">
        @foreach (var item in Model)
        {
        <div class="rent-single">
            <ul class="list-inline rent-offer">
                <li class="offer-item offer-image" style="background-image:url('images/@Html.DisplayFor(modelItem => item.Zdjecie)');" />
                <li class="offer-item">
                    <dl class="dl-horizontal" style="margin-bottom: 10px">

                        <dt class="offer-description-name">
                            @Html.DisplayFor(modelItem => item.Marka)
                        </dt>
                        <dd class="offer-description-name">
                            @Html.DisplayFor(modelItem => item.Model)
                        </dd>
                        <dt>            Rocznik </dt>
                        <dd>@Html.DisplayFor(modelItem => item.Rok.Year)</dd>
                        <dt>            Cena </dt>
                        <dd>@Html.DisplayFor(modelItem => item.Cena)</dd>
                        <dt>            Limit kilometrow </dt>
                        <dd>@Html.DisplayFor(modelItem => item.LimitKilometrow)</dd>
                        <dt>            Numer Rejestracyjny </dt>
                        <dd>@Html.DisplayFor(modelItem => item.NrRejestracyjny)</dd>
                        <dt>            Poczatek Umowy </dt>
                        <dd>@Html.DisplayFor(modelItem => item.PoczatekUmowy)</dd>
                        <dt>            Koniec Umowy </dt>
                        <dd>@Html.DisplayFor(modelItem => item.KoniecUmowy)</dd>
                        <dt>            Opony </dt>
                        <dd>@Html.DisplayFor(modelItem => item.Opony)</dd>
                        <dt>            AC </dt>
                        <dd>@Html.DisplayFor(modelItem => item.AC)</dd>
                    </dl>
                    <p style="margin-bottom:5px;">
                        @Html.DisplayFor(modelItem => item.Opis)
                    </p>
                    <p style="margin-bottom:0px;">
                        @Html.ActionLink("Edytuj szczegoly", "Edit", new { id = item.Id }) |
                        @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                        @Html.ActionLink("Zakoncz wynajem", "DeleteRent", new { id = item.Id })
                    </p>
                </li>
            </ul>
        </div>
        }
    </div>

