@model Wypozyczalnia.Models.Powiadomienie

@{
    ViewBag.Title = "Details";
}

<div>
    @*<h4>Powiadomienie</h4>*@
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Tytul)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tytul)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Opis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Opis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NrRejestracyjny)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NrRejestracyjny)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Data)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Data)
        </dd>


    </dl>
</div>
<p>
    @Html.ActionLink("Wroc", "Index",  null , new { @class = "btn btn-info" })
    @Html.ActionLink("Usun", "Delete", new { id = Model.Id }, new { @class = "btn btn-danger" })
</p>
