@model Wypozyczalnia.Models.Samochod

@{
    ViewBag.Title = "Szczegoly";
}

<h2>Szczegoly samochodu</h2>

<div class="rent-whole">
    <ul class="list-inline rent-offer">
        <li class="offer-item offer-image" style="background-image: url('../../images/@Html.DisplayFor(model => model.Zdjecie)');" />
        <li class="offer-item ">
            <dl class="dl-horizontal">
                <dt class="offer-description-name">
                    @Html.DisplayFor(model => model.Marka)
                </dt>
                <dd class="offer-description-name">
                    @Html.DisplayFor(model => model.Model)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Rok)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Rok.Year)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LimitKilometrow)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LimitKilometrow)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Opony)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Opony)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.AC)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AC)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Cena)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Cena)
                </dd>
            </dl>
            <p style="margin-bottom:5px;">
                @Html.DisplayFor(model => model.Opis)
            </p>
            <p>

                @Html.ActionLink("Wynajmij", "CreateRent", "Rent", new { id = Model.Id }, new { @class = "btn btn-success" })
                @Html.ActionLink("Wroc", "Index", null, new { @class = "btn btn-info" })
            </p>
        </li>
    </ul>
</div>
